upload your image : <br>
<form action="/product/add" method="post" enctype="multipart/form-data">
name: <input type="text" name="name" id="name"><br>
price: <input type="number" name="price" id="price"><br>
place your image : <input type="file" name="image" id="image"><br>
<input type="submit" value="submit">
</form>