upload your image to directly upload to s3 : <br>
<form action="/product/directtos3" method="post" enctype="multipart/form-data">
input file : <input type="file" name="image" id="image">
<input type="submit" value="submit">
</form>