im in user register
{{#if error}}
{{error}}
{{/if}}
<form action="/register" method="post"><br>
name: <input type="text" name="name" id=""><br>
email: <input type="email" name="email" id=""><br>
password: <input type="password" name="password" id=""><br>
discription: <input type="text" name="discription"><br>
<input type="submit" value="submit">
</form>