<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mainLayoutStyle.css">
</head>
<body>
        <header class="fixed-top">
        <div class="container">
            <div class="nav">
                <h2>SPACELOOP</h2>
                <div class="nav-verticle list-style">
                    <nav>
                        <i class="fa fa-times" aria-hidden="false"></i>
                        <li>Home</li>
                        <li>About</li>
                        <li>Menu</li>
                        <li>Pages</li>
                        <li>Delivery</li>
                    </nav>
                </div>
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    {{{body}}}
</body>
</html>